In [27]:
import os
import pandas as pd

In [28]:
os.makedirs(os.path.join('..', 'data'), exist_ok=True)

In [29]:
data_file = os.path.join('..', 'data', 'house_tiny.csv')

In [30]:
with open(data_file, 'w') as f:
    f.write('''NumRooms,RoofType,Price
NA,NA,12500
2,NA,12000
4,Slate,50000
NA,NA,140000''')

In [31]:
data = pd.read_csv(data_file)
data

   NumRooms RoofType   Price
0       NaN      NaN   12500
1       2.0      NaN   12000
2       4.0    Slate   50000
3       NaN      NaN  140000

In [32]:
data.iloc[:,2]

0     12500
1     12000
2     50000
3    140000
Name: Price, dtype: int64

In [33]:
inputs, targets = data.iloc[:,0:2], data.iloc[:,2]

In [34]:
inputs

   NumRooms RoofType
0       NaN      NaN
1       2.0      NaN
2       4.0    Slate
3       NaN      NaN

In [35]:
targets

0     12500
1     12000
2     50000
3    140000
Name: Price, dtype: int64

In [36]:
inputs = pd.get_dummies(inputs, dummy_na=True)
inputs

   NumRooms  RoofType_Slate  RoofType_nan
0       NaN           False          True
1       2.0           False          True
2       4.0            True         False
3       NaN           False          True

In [37]:
inputs = inputs.fillna(inputs.mean())
inputs

   NumRooms  RoofType_Slate  RoofType_nan
0       3.0           False          True
1       2.0           False          True
2       4.0            True         False
3       3.0           False          True

In [38]:
import torch

In [39]:
X= torch.tensor(inputs.to_numpy(dtype=float))
y= torch.tensor(targets.to_numpy(dtype=float))
X,y

(tensor([[3., 0., 1.],
         [2., 0., 1.],
         [4., 1., 0.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([ 12500.,  12000.,  50000., 140000.], dtype=torch.float64))